<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="bg-dark m-0">
    <%= image_tag attachments["logo-email.png"].url, { align: "center", class: "fix", width: "100", height: "100", border: "0", alt: 'Kuilo Logo' } %>
    <%= yield %>
    <%= yield :footer %>
  </body>
</html>
