@import "~bootstrap/scss/functions";
@import "../vendor/bootstrap/variables.default";

@each $initial, $direction in $directions {
  @each $unit, $spacer in $spacers {
    .#{$initial}-#{$unit} {
      #{$direction}: $spacer;
    }
  }
}

@each $fit-name, $fit-unit in $object-fits {
  .object-#{$fit-name} {
    object-fit: #{$fit-unit};
  }
}

.fit-cover {
  object-fit: cover;
  object-position: center;
}

.loading {
  &::before {
    @extend .spinner-border, .text-primary, .my-3, .mx-auto;

    content: '';
  }
}

.border-dashed {
  border: 2px dashed $border-color !important;
}
