<div class="container mt-6">
  <%= link_to properties_path, class: 'link text-muted mb-3' do %>
    <%= inline_svg_pack_tag 'media/icons/arrow-left.svg', class: 'mr-2' %>
    cancelar
  <% end %>
  <div class="cell">
    <h1 class="h3 mb-5">Nova propriedade</h1>
    <%= render Properties::Form.new(property: @property) %>
  </div>
</div>
