<ul class="nav flex-column list-group">
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_not_eq: 10, anchor: 'rents-table'), class: 'list-group-link' do %>
      <span class="signal signal-muted mr-1"></span>
      Todas
    <% end %>
  </li>
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_eq: Rent.statuses[:paid], anchor: 'rents-table'), class: 'list-group-link' do %>
      <span class="signal signal-success mr-1"></span>
      Paga
    <% end %>
  </li>
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_eq: Rent.statuses[:unpaid], anchor: 'rents-table'), class: 'list-group-link' do %>
      <span class="signal signal-danger mr-1"></span>
      Não paga
    <% end %>
  </li>
</ul>
