<div class="container bg-blue py-3">
  <h1 class="display-1">Title here</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laudantium culpa vitae placeat. Repellat, labore dignissimos cupiditate eos, rem fuga nisi provident quasi optio ea cumque totam amet enim officiis.
  </p>
</div>
