<section class="screen">
  <div class="container-fluid bg-blue pt-4">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 pl-6 pb-6 order-2 order-lg-1">
        <h1 class="mb">
          <span class="display-3 font-weight-bold d-block">Gerir propriedades,</span>
          <span class="display-1 font-weight-bold d-block mt-n5">sem entraves.</span>
        </h1>
        <p class="display-6 mb-5">
          Gerir os seus imóveis não tem de ser um sacrifício. Com Kuilo, é tudo mais simples.
        </p>
        <%= link_to 'Começar a usar', new_organization_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-2 text-right text-lg-left mb-n10 mb-lg-0">
        <%= image_pack_tag 'media/images/landing-hero.svg', class: 'd-none d-lg-block mb-6 col-6 col-lg-12' %>
        <%= image_pack_tag 'media/images/landing-hero-mobile.svg', class: 'd-block d-lg-none col-6 col-lg-12' %>
      </div>
    </div>
  </div>
  <%= image_pack_tag 'media/images/wave-landing.svg', class: 'screen-bg-bottom' %>
</section>
