<section class="cell">
  <div class="h-100">
    <div class="flexbox flexbox-between-center">
      <h2 class="h6 mb-0"><%= title %></h2>
      <%= controls %>
    </div>
    <hr>
    <div>
      <%= @content %>
    </div>
  </div>
</section>
