<div class="container mt-6">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6 col-xl-6">
      <%= link_to enterprises_path, class: 'link text-muted mb-3' do %>
        <%= inline_svg_pack_tag 'media/icons/arrow-left.svg', class: 'mr-2' %>
        cancelar
      <% end %>
      <div class="cell">
        <h1 class="h3 mb-5">Novo Empreendimento</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
