.cell {
  background: $white;
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
  padding: $spacer * 1.5 $spacer * 2 $spacer * 2;
  z-index: 1;
  position: relative;

  &-transparent {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    box-shadow: none;
  }

  &-dark {
    background: $black;
    color: $white;
  }

  &-tabs {
    position: relative;
    z-index: 0;

    .nav-link {
      color: $muted;

      &.active {
        color: $dark;
      }
    }

    & + .cell {
      @extend .border-top, .rounded-0, .rounded-bottom;
    }
  }
}
