.flexbox {
  display: flex;

  &-between-center {
    justify-content: space-between;
    align-items: center;
  }


  &-between-start {
    justify-content: space-between;
    align-items: flex-start;
  }

  &-between-stretch {
    justify-content: space-between;
    align-items: stretch;
  }

  &-start-center {
    justify-content: flex-start;
    align-items: center;
  }

  &-center-center {
    justify-content: center;
    align-items: center;
  }

  &-start-start {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &-50-50 {
    & > * {
      flex: 1 1 50%;
    }
  }
}
