$icon-sizes: (
  xs: .5rem,
  sm: .8rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 2rem,
);

.icon {
  object-fit: contain;

  @each $size-unit, $size-value in $icon-sizes {
    &-#{$size-unit} {
      height: $size-value;
      width: $size-value;
    }
  }

  @each $color-name, $color-value in $theme-colors {
    &-#{$color-name} {
      fill: $color-value;
    }
  }
}
