.signal {
  width: $spacer / 2;
  height: $spacer / 2;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;

  @each $color-name, $color-value in $theme-colors {
    &-#{$color-name} {
      background: $color-value;
    }
  }
}


.signal-notification {
  position: relative;

  &::after {
    @extend .signal, .signal-danger;

    content: '';
    position: absolute;
    top: 5px;
    right: 4px;
    border: none;
  }
}
